@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter), "Neue Haas Grotesk", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #000000;
  font-family: var(--font-inter), "Neue Haas Grotesk", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
}
